.header_section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.25rem;
}

.header_pokeball {
  width: 3rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 1s linear;
}

.header_pokeball:hover {
  transform: rotate(360deg);
}

.heading {
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s linear;
  font-family: "Press Start 2P", cursive;
}

.heading:hover {
  color: red;
}
