.loading_div {
  position: absolute;
  top: 47%;
  left: 47%;
}

.loading {
  width: 5rem;
  animation: loading 1s linear infinite;
}

.loading_text {
  font-family: "Press Start 2P", cursive;
  color: white;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
