@media (max-width: 1220px) {
  .main_section {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

@media (max-width: 872px) {
  * {
    font-size: 14px;
  }
}

@media (max-width: 690px) {
  .main_section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
}

@media (max-width: 520px) {
  * {
    font-size: 12px;
  }
  img {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .main_section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
  img {
    width: 120%;
  }
}

@media (max-width: 300px) {
  * {
    font-size: 10px;
  }
  img {
    width: 100%;
  }
}
